body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
  Styling for toggle button (isPublished)
*/
.toggle-btn {
  width: 50px;
  height: 26px;
  border-radius: 25px;
  background-color: gray;
  position: relative;
}

.toggle-btn:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #FFCCCB;
  transition: transform 0.2s ease-in-out;
}

.toggle-btn.on:before {
  background-color: #aef359;
  transform: translateX(25px);
}

.toggle-btn:focus {
  outline: none;
}
